apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: jenkins
          image: jenkins/jenkins:lts
          env:
            - name: CASC_JENKINS_CONFIG
              value: https://raw.githubusercontent.com/walidbensmida/devops-training/main/acid/jenkins/jenkins-casc.yaml
          envFrom:
            - secretRef:
                name: jenkins-casc-secrets
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: jenkins-home
              mountPath: /var/jenkins_home
            - name: docker-sock
              mountPath: /var/run/docker.sock  # ✅ Monte le socket Docker ici
      volumes:
        - name: jenkins-home
          persistentVolumeClaim:
            claimName: jenkins-pvc
        - name: docker-sock
          hostPath:
            path: /var/run/docker.sock   # ✅ Volume réel du socket Docker
